<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}JEE Preparation Tracker{% endblock %}</title>
    <meta name="title" content="JEE Preparation Tracker" />
    <meta
      name="description"
      content="JEE Preparation Tracker is your ultimate companion for JEE exam preparation. Track your progress, take mock tests, and stay motivated."
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='icons/192.png') }}"
      type="image/png"
    />
    <meta name="theme-color" content="#2c3e50" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="sidebar">
      <a href="/" class="logo-link"
        ><img
          src="{{ url_for('static', filename='icons/logo.svg') }}"
          alt="Logo"
          class="logo"
      /></a>
      <div class="menu">
        <a href="{{ url_for('dashboard') }}">
          <img
            src="{{ url_for('static', filename='icons/dashboard.svg') }}"
            alt="Dashboard Icon"
            class="icon"
          />
          <p class="menu-item">Dashboard</p></a
        >
        <a href="{{ url_for('subjects') }}">
          <img
            src="{{ url_for('static', filename='icons/subjects.svg') }}"
            alt="Subjects Icon"
            class="icon"
          />
          <p class="menu-item">Subjects</p></a
        >
        <a href="{{ url_for('mock_tests') }}">
          <img
            src="{{ url_for('static', filename='icons/test.svg') }}"
            alt="Mock Tests Icon"
            class="icon"
          />
          <p class="menu-item">Mock Tests</p></a
        >
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
      </div>
    </div>
    <div class="content">{% block content %}{% endblock %}</div>
    {% block scripts %}{% endblock %}
  </body>
</html>
